extend ../layout/default.pug

block main 
    .page 
        .dashboard_header
            .dashboard_heading
                h1.dashboard_title Quản lý camera
                p.dashboard_subtitle Tạo, cập nhật, xóa camera trong hệ thống

            .dashboard-actions
                a.btn.btn-primary(href="/cameras/create") Thêm camera mới

    if error
      .alert.alert--error
        | #{error}

    .card.history-filter-card
        form.history-filters(method="GET" action="/cameras")
            .field
                label.field__label(for="keyword") Tìm kiếm camera
                input#keyword.field__control(
                    type="text"
                    name="keyword"
                    value=filters.keyword
                    placeholder="Nhập mã hoặc tên camera... "
                )
            .field
                label.field__label(for="status") Trạng thái camera 
                select#status.field__control(name="status")
                    option(value="" selected=!filters.status) Tất cả
                    option(value="AVAILABLE" selected=filters.status === "AVAILABLE") Sẵn sàng
                    option(value="IN_USE" selected=filters.status === "IN_USE") Đang sử dụng
            .history-filters__actions
                button.btn.btn--primary(type="submit") Lọc
                a.btn.btn-secondary(href="/cameras") Xóa
        


    .card
        .table-wrap 
            table.table
                thead
                    tr 
                        th Mã camera  
                        th Tên camera
                        th Địa chỉ IP
                        //th Loại camera
                        th Trạng thái
                        th Băng tải sử dụng
                        th Thao tác
                tbody 
                    each item in camera
                        tr
                            td=item.camera_id
                            td=item.camera_name
                            td=item.camera_ip
                            td
                                if item.status === "AVAILABLE" 
                                    | Sẵn sàng
                                else if item.status === "IN_USE" 
                                    | Đang sử dụng
                                else
                                    | #{item.status || "-"}
                            td=item.conveyor_name
                            td
                                a.btn.btn--secondary(href=`/cameras/edit/${item.camera_id}`) Sửa
                                form(method="POST" action=`/cameras/delete/${item.camera_id}` style="display:inline-block; margin-left: 8px;")
                                    button.btn.btn--danger(type="submit" onClick="return confirm('Bạn có chắc muốn xóa camera này?');") Xóa