extend ../layout/default.pug

block main 
    .page 
        .dashboard_header
            .dashboard_heading
                h1.dashboard_title Quản lý băng tải
                p.dashboard_subtitle Tạo, cập nhật, xóa băng tải trong hệ thống

            .dashboard-actions
                a.btn.btn-primary(href="/conveyors/create") Thêm băng tải mới
            
    .card
        .table-wrap 
            table.table
                thead
                    tr 
                        th Mã băng tải
                        th Tên băng tải
                        //th Dây chuyền
                        th Người vận hành
                        th Trạng thái
                        th Thao tác
                tbody 
                    each item in conveyors
                        tr
                            td=item.conveyor_id
                            td=item.name
                            //td=item.line_id
                            td=item.operator_name || "-"
                            td=item.status
                            td
                                a.btn.btn--secondary(href=`/conveyors/settings/${item.conveyor_id}`) Sửa
                                form(method="POST" action=`/conveyors/delete/${item.conveyor_id}` style="display:inline-block; margin-left: 8px;")
                                    button.btn.btn--danger(type="submit" onClick="return confirm('Bạn có chắc muốn xóa băng tải này?');") Xóa
block scripts
    if success
        script.
            Toastify({
            text: "#{success}",
            duration: 3000,
            gravity: "top",
            position: "right",
            backgroundColor: "#16a34a",
            close: true
            }).showToast();